// mixins imported here
@import '../../mixins';

// variables imported here
@import '../../variable';

// table styles starts here

.table {
	.table__header {
		display: grid;
		grid-template-columns: .05fr .1fr .53fr .1fr .1fr .12fr;

		div {
			font-weight: 500;
		}
	}

	.table__body {
		.tablerow {
			display: grid;
			grid-template-columns: .05fr .1fr .53fr .1fr .1fr .12fr;
			align-items: center;
			margin-top: 1.5rem;

			div {
				color: rgba(128, 128, 128, 0.9);
				font-weight: 500;

				img {
					width: 55%;
					border-radius: 3px;
				}
			}

			.title {
				color: rgba(30, 143, 255, 0.712);
			}

			.comment {
				text-align: center;
			}

			.actions {
				a {
					margin-right: 1.5rem;
				}

				svg {
					font-size: 1.2rem;
					color: #507485;
					transition: all .5s;

					&:hover {
						color: #1cadeb;
						cursor: pointer;
					}

					&:last-child {
						margin-right: 0 !important;
						color: rgb(255, 112, 112);
					}
				}
			}
		}
	}
}
