// mixins imported here
@import '../mixins';

// variables imported here
@import '../variable';

// herosection styles starts here

.herosection {
	background-image: url('../../images/homepage/herosection/herosection.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 700px;
    display: grid;
    align-items: center;

	.container {

		h1 {
			font-size: 3rem !important;
			font-weight: 800;
			width: 50%;
			color: white;
			text-shadow: 0 0 10px black;
			margin-bottom: 1rem;

			span {
				color: $primary;
			}
		}

		h3 {
			margin-bottom: 1rem;
			color: rgb(0, 255, 149);
			text-shadow: 0 0 10px black;
		}

		p {
			margin-bottom: 1rem;
			color: white;
		}

		div {
			@include flexAlignCenter;

			button {
				margin-right: 2rem;
			}

			h3 {
				font-size: 2rem !important;
				color: white;
				text-shadow: 0 0 10px rgba(0, 0, 0, 0.473);

                sup {
                    font-size: 1.25rem;
                    margin-left: .5rem;
                    margin-top: -0.5rem;
                }
			}
		}
	}
}
