// mixins imported here
@import '../../mixins';

// variables imported here
@import '../../variable';

// posts styles starts here

.admincategories {
	.container {
		padding: 2rem 1rem;

		.categories__header {
			margin-bottom: 2rem;

			span {
				font-size: 1.25rem;
				font-weight: 500;
				margin-right: 1rem;
			}
		}

		.categories__body {
			background: white;
            border-radius: 10px;
			padding: 1rem;

			.categories__bodyHeader {
				display: grid;
				grid-template-columns: .05fr .05fr .75fr .15fr;
				margin-bottom: 1.5rem;

				div {
					font-weight: 500;
				}
			}

			.categories__bodyBottomCategory {
				display: grid;
				grid-template-columns: .05fr .05fr .75fr .15fr;
				// align-items: center;
				padding-bottom: .75rem;

				div {
					color: rgba(128, 128, 128, 0.9);
					font-weight: 500;
				}

				.cateimage {
					width: 20px;

					img {
						width: 100%;
					}
				}

				.actions {
					a {
						margin-right: 1.5rem;
					}

					svg {
						font-size: 1.2rem;
						color: #507485;
						transition: all .5s;

						&:hover {
							color: #1cadeb;
							cursor: pointer;
						}

						&:last-child {
							margin-right: 0 !important;
							color: rgb(255, 112, 112);
						}
					}
				}
			}
		}
	}
}
